<h1><%= @restaurant.name %></h1>
<ul>
  <li>Address: <%=@restaurant.address%></li>
  <li>Contact: <%=@restaurant.phone_number%></li>
  <li>Category: <%=@restaurant.category%></li>
  <li>Avg Rating: <%=@restaurant.reviews.average(:rating).round unless @restaurant.reviews.average(:rating).nil? %></li>
</ul>
<hr>
<p>Reviews</p>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= "#{review.rating} - #{review.content}" %></li>
  <% end %>
</ul>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Back", restaurants_path%>
